services:
  minio:
    image: minio/minio:latest
    container_name: app-minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD-SHELL", "curl -fsS http://localhost:9000/minio/health/live > /dev/null || exit 1"]
      interval: 5s
      timeout: 3s
      retries: 20

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-server
    depends_on:
      minio:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: "8080"

      SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE: "50MB"
      SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE: "50MB"

      APP_S3_ENDPOINT: "http://minio:9000"
      APP_S3_REGION: "us-east-1"
      APP_S3_ACCESSKEY: "minioadmin"
      APP_S3_SECRETKEY: "minioadmin"
      APP_S3_BUCKET: "plagiat"
      APP_S3_PREFIX: "works"

volumes:
  db_data:
  minio_data:
